{% block no_review_found -%}
{# a more precise message can be constructed by examining
   the "request" and "info" variables which are passed to
   this template -#}
no matching review found
{% endblock no_review_found %}
