{% block updatefile %}
{%- set st = '' -%}
{%- if old_state is none and new_state == ' ' -%}
    {%- set st = 'A' -%}
{%- elif old_state == ' ' and new_state == ' ' -%}
    {%- set st = 'U' -%}
{%- elif old_state == 'M' and new_state == ' ' -%}
    {%- set st = 'G' -%}
{%- elif new_state is none -%}
    {%- set st = 'D' -%}
{%- else -%}
    {%- set st = new_state -%}
{%- endif -%}
{{ st }}    {{ "%s/%s" | format(package, filename) }}
{% endblock updatefile %}
